<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Correo</title>
	</head>

	<body style="background-color:#F4F4F4;">
	<div class="contenedor" style="background-color:#F4F4F4;">
    <div style="padding:30px 47px"></div>
        <div style="border:4px solid #ee5530;"></div>
        <div style="padding:39px;">
            <div style="background-color:#fff;padding:20px;color:black">
              {% autoescape off %}
                <h3>Hola {{usuario.username}}, Haga click en el siguiente enlace para restablecer la contraseña </h3> <a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Cambiar password</a>
                <br><br>Atentamente el equipo de GIF. <br>Muchas gracias por utilizar nuestro servicio</div>
              {% endautoescape %}
        </div>
    </div>
	</body>
</html>