{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Olvidó</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static "assets/images/favicon.ico" %}">

        <!-- App css -->
        <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/app.min.css" %}" rel="stylesheet" type="text/css" />

    </head>

    <body class="authentication-bg authentication-bg-pattern">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">

                            <div class="card-body p-4">
                                
                                <div class="text-center w-75 m-auto">
                                    <!-- <a href="index.html">
                                        <span><img src="{% static "assets/images/logo-dark.png" %}" alt="" height="26"></span>
                                    </a> -->
                                    <p class="text-muted mb-3 mt-2">Ingrese su dirección de correo electrónico y contraseña para acceder al panel de administración.</p>
                                </div>

                                <h5 class="auth-title">Login</h5>

                                <form  
                                       method="POST"
                                       novalidate
                                       id="formreset" >
                                    
                                    <div class="alert alert-warning" id="advertencia" style="display: none;" role="alert">
                                        <strong>Advertencia!</strong> Todos campos son obligatorios, y las Contrseñas deben coincidir.
                                    </div>
                                    {% if error == "no" and mensaje != "no" %}
                                        <div class="alert alert-success" role="alert">
                                            {{mensaje}}.
                                        </div>
                                    {% else %}
                                        {% if error == "si" and mensaje != "no" %}
                                        <div class="alert alert-warning" role="alert">
                                            {{mensaje}}.
                                        </div>
                                        {% endif %}
                                    {% endif %}
 

                                    {% csrf_token %}

                                    {% if msj %}
                                        <span> 
                                            <div class="alert alert-danger mb-2" role="alert">{{msj}}</div>
                                        </span>
                                    {% endif %}

                                    <div class="form-group mb-3">
                                        <label for="password">Contraseña</label>
                                        <input class="form-control" type="password" id="password" name="password" required="" placeholder="">
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="rpassword">Repetir Contraseña</label>
                                        <input class="form-control" type="password" required="" id="rpassword" name="rpassword" placeholder="">
                                    </div>


                                    <div class="form-group mb-0 text-center">
                                        <button id="send" class="btn btn-danger btn-block" type="button">restablecer</button>
                                    </div>

                                </form>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <footer class="footer footer-alt">
            2020 &copy; Admin<a href="" class="text-muted"></a> 
        </footer>


        <script src="{% static "assets/js/vendor.min.js" %}"></script>
        <script src="{% static "assets/js/app.min.js" %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="{% static "assets/js/utils.js" %}"></script>
        <script>
            (function(){

                $("#send").on("click", function(){

                    var password = $("#password").val();
                    var password2 = $("#rpassword").val();

                    $("#advertencia").hide();

                    if(password.trim().length==0){
                        $("#advertencia").show();
                        return;
                    }

                    if(password!=password2){
                        $("#advertencia").show();
                        return;
                    }

                    $("#formreset").submit();
                });
            })();
        </script>
    </body>
</html>