<div id="modalMarca" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar Marca</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <div class="col-lg-12">


                    <div class="table table-hover table-modal" id="verticalScroll">
                        <table class="table table-sm mb-0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Lorem</th>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                                        minima sequi tenetur numquam doloremque quibusdam e.</td>
                                    <td>Activo</td>
                                </tr>

                                <tr>
                                    <th>Lorem</th>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                                        minima sequi tenetur numquam doloremque quibusdam e.</td>
                                    <td>Activo</td>
                                </tr>
                                <tr>
                                    <th>Lorem</th>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                                        minima sequi tenetur numquam doloremque quibusdam e.</td>
                                    <td>Activo</td>
                                </tr>
                                <tr>
                                    <th>Lorem</th>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                                        minima sequi tenetur numquam doloremque quibusdam e.</td>
                                    <td>Activo</td>
                                </tr>
                                <tr>
                                    <th>Lorem</th>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                                        minima sequi tenetur numquam doloremque quibusdam e.</td>
                                    <td>Activo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect"
                    data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger waves-effect waves-light">Aceptar</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->